.container_l {
    position: relative;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 5px green;
    overflow: hidden;
}

.container_l a {
    text-decoration: none;
}

.container_l .wrap_l {
    position: absolute;
    width: 6400px;
    height: 450px;
    z-index: 1;
}

.container_l .wrap_l img {
    float: left;
    width: 600px;
    height: 450px;
}

.container_l .buttons_l {
    position: absolute;
    right: 5px;
    bottom: 40px;
    width: 250px;
    height: 10px;
    z-index: 2;
}

.container_l .buttons_l span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    color: white;
    cursor: pointer;
}

.container_l .buttons_l span.on {
    background-color: red;
}

.container_l .arrow_l {
    position: absolute;
    top: 35%;
    color: green;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
}

.container_l .arrow_l_left {
    left: 10px;
}

.container_l .arrow_l_right {
    right: 10px;
}

.container_l:hover .arrow_l {
    display: block;
}

.container_l .arrow_l:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#main {
    width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
    background-color: #d3decb;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: green;
    margin-bottom: 30px;
}

h1 span {
    border-bottom: 3px solid green;
    line-height: 60px;
    padding-bottom: 10px;
}

#jianjie {
    line-height: 2;
    margin-bottom: 30px;
}

#index_picture li {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    width: 386px;
    font-size: 0px;
    margin-bottom: 10px;
}

#index_picture li:nth-child(3n-2) {
    margin-left: 0px;
}

#index_picture li img {
    width: 100%;
    height: 265px;
}